@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main-addproduct {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section__addproduct {
        border: 1px solid var.$greyColor;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vw 1vw;

        &__form {
            display: flex;
            flex-direction: column;

            &--data {
                display: flex;
                flex-direction: column;
            }

            span {
                color: red;
            }
        }
    }
}