@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

@media (max-width: 1280px) {
    .home {
        .main {
            .section {
                &__gallery {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    padding: 1vw;
                    gap: 1vw;
                    margin: 0 3.5% 0 3.5%;
                }

                &__recommended {
                    font-size: 1.5rem;
                    margin-bottom: 1%;
                }

                &__formhome {
                    margin-bottom: 1%;
                }

                &__addprod {
                    margin-bottom: 1%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .home {
        .main {
            .section {
                &__gallery {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    padding: 1vw;
                    gap: 1vw;
                    margin: 0 5% 0 5%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        .main {
            .section {
                &__gallery {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 1vw;
                    gap: 1vw;
                    margin: 0 15% 0 15%;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .home {
        .main {
            .section {
                &__gallery {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    padding: 1vw;
                    gap: 1vw;
                    margin: 0 20% 0 20%;
                }

                &__recommended {
                    font-size: 1.5rem;
                    margin-bottom: 2%;
                }

                &__formhome {
                    margin-bottom: 2%;
                }

                &__addprod {
                    margin-bottom: 2%;
                }
            }
        }
    }
}