@use "../../../styles/scss/variables" as var;

.header {
    grid-area: header;

    background-color: var.$colorBackgroundVeryDark;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__group {
        width: 100%;
        padding: 0.5vw;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;


        &__title {
            color: var.$colorFontDisabled;
            font-size: 4rem;
            font-family: "Super Plants";

            &--color {
                color: var.$colorBackgroundVeryDark;
                -webkit-text-stroke: 0.25rem var.$colorFontLight;
            }
        }
    }

}