@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_padding: 0.5vw;

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    gap: 1vw;
    background-color: var.$backgroundColorLight;
    padding: $_padding;
}