@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.footer {
    grid-area: footer;
    background-color: rgb(74, 20, 140);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1vw;
}