@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.footer {
    grid-area: footer;
    background-color: rgb(117, 117, 117);
    color: var.$backgroundColorLight;
    font-size: small;
    padding: 1vw;

    &__container {
        display: flex;
        flex-direction: row;
        margin: 0 10% 1vw 10%;
    }

    &__item {
        position: relative;
        width: 100%;
        margin: 0;
    }

    &__copyright {
        display: flex;
        justify-content: center;
    }

    &__tittle {
        margin: 0 0 3vh 0;
    }

    &__row {
        margin-bottom: 1vh;

        a:-webkit-any-link {
                color: var.$backgroundColorLight;
                cursor: pointer;
                text-decoration: none;
            }
    }
}