@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base/typography";

.header {
    grid-area: header;
    background: linear-gradient(var.$backgroundColorHeader, var.$backgroundColorLight);

    h1 {
        color: var.$backgroundColorLight;
        font-family: 'Audiowide', sans-serif;
    }

    .cart {
        display: flex;
        justify-content: end;

        img {
                width: 36px;
                height: 36px;
                margin-right: 10px;
            }
    }

    &__menu {
        display: flex;
        justify-content: center;
    }

    &__logo {
        width: 40px;
        height: fit-content;
        padding: 0;
        margin: 0;
    }
}