@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;
    margin: 0 1vw 0 1vw;

    .section {
        width: 100%;

        &__addprod {
            text-decoration: none;
            border: none;

            a {
                color: black;
                border: 1px solid var.$backgroundColorHeader;
                border-radius: 10px;
                padding: 8px;
                background: linear-gradient(var.$backgroundColorHeader, var.$backgroundColorLight);
                text-decoration: none;
                cursor: pointer;
            }

            &--btn {
                background-color: var.$backgroundColorLight;
            }
        }

        &__recommended {
            padding-top: 1vw;
            font-size: 1.5rem;
        }

        &__formhome {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 1vw;
            gap: 10px;

            input {
                width: 100%;
                padding: 5px;
            }
        }

        &__gallery {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            padding: 1vw;
            gap: 1vw;
        }


        &--slider {
            overflow: hidden;
        }

        &--products {
            gap: 1vw;
            background-color: var.$backgroundColorLight;
        }
    }
}