@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    background-color: var.$backgroundColorNavbar;

    a:hover {
        font-weight: bold;
    }

    &__item {
         color: white;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.5vw;
        padding: 0.5vw;
    }

    &__item--active {
        text-decoration: underline;
        color: rgb(225, 190, 231);
        font-weight: bold;
    }
}