@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    background-color: rgb(171, 71, 188);

    &__item {
         color: white;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.5vw;
        padding: 0.5vw;
    }

    &__item--active {
        text-decoration: underline;
        color: blue;
        font-weight: bold;
    }
}