@use "../../styles/scss/variables" as var;

.shoppingCart__resume {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.shoppingCart__resume--title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.table__body__items {
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p {
    margin: 0;
}

.grid-item-right {
    font-weight: bold;
}

.shoppingCart__resume--btn {
    text-align: center;
}

.shoppingCart__order-sent {
    background-color: var.$colorBackgroundDark;
    color: var.$colorBackgroundVeryDark;
}