$backgroundColor: rgb(0, 0, 255);
$backgroundColorDark: rgb(0, 0, 138);
$backgroundColorLight: rgb(255, 255, 255);
$backgroundColorHeader: rgb(74, 20, 140);
$backgroundColorNavbar:  rgb(171, 71, 188);
$backgroundColorDarkRed: rgb(139, 0, 0);
$greyColor: rgb(128, 128, 128);
$greenColor: rgb(0, 128, 0);
$colorShadowDark: rgba(0, 0, 0, 0.7);
$colorShadowDarkLight: rgba(0, 0, 0, 0.24);